@charset "UTF-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

body {
    color: #1d1e1e;
    background: #eef2f7;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    user-select: none;
}
.content {
    background-color: #eef2f7;
    padding-bottom: 50px;
}
td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.buttons-tab .button {
    height: 50px;
    line-height: 50px;
    color: #c6c6c6;
    border-color: #e7e8ee;
    border-right: 1px solid #e7e8ee;
}
.buttons-tab .button.active {
    height: 50px;
    color: #68d68b;
    border-color: #e7e8ee;
}

.content-block {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
}
.content-block-title {
    color: #727272;
    margin-top: 1rem;
}
#custom-header {
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 150px;
    background-color: #3d4145;
}

.table-device {
    margin: 0;
    width: 100%;
    table-layout: fixed;
}

td.device-edit {
    vertical-align: middle;
    text-align: right;
    width: 25%;
    color: #727272;
    font-size: 0.75rem;
}
td.device-delete {
    vertical-align: middle;
    text-align: center;
    width: 15%;
    color: #727272;
    font-size: 0.75rem;
    border-left: 1px solid #eef2f7;
}
td.panel-title {
    width: 25%;
    font-size: 0.5rem;
    color: black;
}
.bar-footer {
    padding: 0;
}

.bottom-block {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    margin-left: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    overflow: hidden;
    z-index: 99;
}

.button-bottom {
    width: 100%;
    height: 50px;
    color: #1d1e1e;
    line-height: 50px;
    border: none;
    border-radius: 0;
    margin: 0px;
    border-left: 1px solid #e7e8ee;
    border-top: 1px solid #e7e8ee;
}
.button-bottom.highlight {
    color: #68d68b;
}
.button-bottom:active {
    border: none;
    color: #68d68b;
    border-radius: 0;
    background-color: #c6c6c6;
}
.row .col-50 {
    width: 50%;
    margin-left: 0;
}
#top {
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 99;
    width: 100%;
    height: 50px;
    padding: 0px;
}
#tab1, #tab2, #tab3, #tab4 {
    padding-top: 50px;
    padding-bottom: 50px;
}



.text-title {
    color: #68d68b;
    padding-left: 15px;
}
.text-config {
    padding-left: 0px !important;
}
.text-second-title {
    color: #727272;
    padding-left: 10px;
    font-size: .75rem;
}

.text-content {
    color: #727272;
    padding-left: 15px;
    font-size: .75rem;
}

.text-content-black {
    color: #1e1e1e;
    font-size: .75rem;
}


a.item-content:active {
    background-color: #c6c6c6 ;
}
.list-block.media-list .item-inner, .list-block li.media-item .item-inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.list-config.list-block li {
    background-color: #eef2f7;
}


.list-config.list-block .item-content .item-inner{
    padding-left: 15px;
    background-color: white;
}

.list-block .item-content {
    padding-left: 0;
}
.list-block .item-title.label {
    width: 25%;
    font-size: 0.7rem;
    color: #1d1e1e;
}

.row {
    margin-left: 0;
}
.row .col-33 {
    width: 33.333333333333332%;
    margin-left: 0;
}

.control-grid {
    float: left;
    width: 50%;
    height: 100px;
    text-align: center;
    border-left: 1px solid #eef2f7;
    border-top: 1px solid #eef2f7;
    background-color: white;
    vertical-align: middle;
}
.control-grid .control-content {
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.control-circle {
    width:25px;
    height:25px;
    background-color:#68d68b;
    border-radius:12.5px;
    float: left;
    margin-top: 34px;
    margin-left: 15px;
    margin-right: 0;
}
.control-digit {
    line-height: 25px;
    color:#FFF;
    text-align: center;
    display: block;
}

.control-content span.scene {
    margin-left: -32px;
}
img.config {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.list-config.list-block ul {
    border-bottom: none;
    border-top: none;
}

.list-block {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.card-header {
    background-color: #68d68b;
    color: white;
}

img.edit {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-right: 5px;
}

img.delete {
    width: 14px;
    height: 16px;
    margin-left: 15px;
}

img.down-arrow {
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

.item-after {
    font-size: 0.5rem;
}

.item-after img.more{
    width: 10px;
    height: 8px;
}

.item-inner img.more{
    width: 10px;
    height: 8px;
}
.item-after img.edit{
   vertical-align: middle;
}
td.action {
    width: 20%;
    font-size: 0.75rem;
}

td.switch {
    width: 35%;
    font-size: 0.75rem;
}
td.add-scene-action1-brightness, td.add-scene-action2-brightness {
    width: 22%;
    font-size: 0.75rem;
    text-align: center;
}
.custom-delay-hour-select, .custom-delay-minute-select {
    font-size: 0.75rem;
}

.button-add-device {
    border: none;
    margin: 10px;
    background-color: #68d68b;
    color: white;
    height: 40px;
    line-height: 40px;
}
.button-delete {
    border: none;
    margin: 20px;
    background-color: #bec7d3;
    color: white;
    height: 40px;
    line-height: 40px;
}

select {
    font-size:0.75rem !important;
}

img.custom-icon {
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 34px;
    margin-left: 15px;
}

span.home-operation-device-name {
    margin-left: -24px;
}

.device-on {
    color: #68d68b;
}

img.custom-icon-edit {
    width: 15px;
    height: 15px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

td.control-switch {
    font-size: 0.75rem;
    text-align: right;
    padding-right: 10px;
    width: 20%;
}
td.control-status {
    font-size: 0.75rem;
    text-align: left;
    padding-left: 10px;
    width: 15%;
}
td.control-time {
    font-size: 0.75rem;
    text-align: center;
    width: 30%;
}
td.control-date {
    font-size: 0.75rem;
    text-align: center;
    width: 35%;
}

.popup{
    top:40%;
    height: 60%;
}

.col-40 {
    width: 40% !important;
}

.popup .item-input {
    padding-left: 20px;
}

.card {
    border-radius: 4px;
    box-shadow: none;
}