@charset "UTF-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

body {
    color: #1d1e1e;
    background: #eef2f7;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    user-select: none;
}

td {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.buttons-tab .button.active {
    color: #68d68b;
    border-color: transparent;
}

.content-block {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
}
.content-block-title {
    margin-top: 1rem;
}
#custom-header {
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 150px;
    background-color: #3d4145;
}

.table-device {
    margin: 0;
    width: 100%;
    table-layout: fixed;
}

td.device-edit {
    vertical-align: middle;
    text-align: right;
    width: 20%;
    color: #1d1e1e;
}
.bar-footer {
    padding: 0;
}

.bottom-block {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    margin-left: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    overflow: hidden;
    z-index: 99;
}

.button-bottom {
    width: 100%;
    height: 50px;
    color: black;
    line-height: 50px;
    border: none;
    border-radius: 0;
    margin: 0px;
    border-left: 1px solid #eef2f7;
    border-top: 1px solid #eef2f7;
}

.button-bottom:active {
    border: none;
    color: #68d68b;
    border-radius: 0;
    background-color: #c6c6c6;
}
.row .col-50 {
    width: 50%;
    margin-left: 0;
}
#top {
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 99;
    width: 100%;
    height: 50px;
    padding: 0px;
}
#tab1, #tab2, #tab3, #tab4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.buttons-tab .button {
    height:49px;
}

.text-title {
    color: #68d68b;
    padding-left: 15px;
}

.text-second-title {
    color: #c6c6c6;
    padding-left: 10px;
    font-size: .75rem;
}

.text-content {
    color: #727272;
    padding-left: 15px;
    font-size: .5rem;
}

.text-content-black {
    color: #1e1e1e;
    font-size: .5rem;
}


a.item-content:active {
    background-color: #c6c6c6 ;
}

.list-config.list-block li {
    background-color: #eef2f7;
}


.list-config.list-block .item-content .item-inner{
    padding-left: 15px;
    background-color: white;
}

.list-block .item-content {
    padding-left: 0;
}
.list-block .item-title.label {
    width: 30%;
}

.row {
    margin-left: 0;
}
.row .col-33 {
    width: 33.333333333333332%;
    margin-left: 0;
}

.control-grid {
    float: left;
    width: 50%;
    height: 100px;
    text-align: center;
    border-left: 1px solid #eef2f7;
    border-top: 1px solid #eef2f7;
    background-color: white;
}
.control-grid .control-content {
    line-height: 100px;
    text-align: center;
}

.control-circle {
    width:25px;
    height:25px;
    background-color:#727272;
    border-radius:12.5px;
    float: left;
    margin-top: 34px;
    margin-left: 15px;
    margin-right: 0;
}
.control-digit {
    line-height: 25px;
    color:#FFF;
    text-align: center;
    display: block;
}

.control-content span {
    margin-left: -32px;
}
img.config {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.list-config.list-block ul {
    border-bottom: none;
    border-top: none;
}

.list-block {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.card-header {
    background-color: #68d68b;
    color: white;
}

img.edit {
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

img.delete {
    width: 14px;
    height: 16px;
    margin-left: 15px;
}